
@import "./var.scss";
#footer{
  color: white;
  padding: 40px 0 46px;
  background-color: #121212;
  .spaceBetween{
    align-items: flex-start;
  }
  a {
    color: white;
  }
  dt {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 46px;
  }
  dd {
    line-height: 24px;
  }
  dd + dd {
    margin-top: 20px;
  }

  .contact{
    width: 455px;
    dd {
      padding-left: 28px;
      position: relative;
      i.iconfont {
        position: absolute;
        left: 0;
        top: 1px;
        font-size: 18px;
      }
      i.icon-dizhi {
        font-size: 21px;
      }
    }
  }
  .aboutUs, .information{
    dd {
      padding-left: 18px;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 8px;
        height: 8px;
        background-color: white;
        content: ' ';
      }
      i.icon-dizhi {
        font-size: 21px;
      }
    }
  }
  .links {
    width: 510px;
    dd {
      line-height: 1;
      a{
        display: inline-block;
        border-radius: 6px;
        overflow: hidden;
        i{font-size: 64px; background-color: white;}
        i.icon-tubiao-3{color: #3b5998;}
        i.icon-tubiao-{color: #007ab9;}
        i.icon-tubiao-4{color: #cd332d;}
        i.icon-tubiao-5{color: #4099ff;}
        i.icon-tubiao-1{color: #4ac9f1;}
        i.icon-tubiao-2{color: #c5161b;}
        i.icon-tubiao-6{color: #ff517c;}
      }
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .copyright{
    text-align: center;
    padding: 14px 0 12px;
    background-color: white;
    p {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      line-height: $font20;
      color: #666666;
    }
  }
}

@media screen and (max-width: 1600px) {
  #footer{
    .links {
      width: 320px;
      dd {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  #footer{
    .center-main {
      flex-wrap: wrap;
      .links {
        width: 100%;
    }
    }
    .contact, .aboutUs, .information, .links {
      margin-bottom: 26px;
    }
  }
}

@media screen and (max-width: 997px) {
  #footer{
    padding: 20px 0 0;
    .contact, .aboutUs, .information, .links {
      width: 100%;
      dt {
        width: 100%;
        margin-bottom: 12px;
        font-size: 18px;
      }
    }
    .aboutUs, .information {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      dd {
        width: 33%;
      }
      dd + dd {
        margin-top: 0;
      }
    }

    .links {
      dd {
        a {
          i {
            font-size: 48px;
          }
        }
      }
    }
  }
}