@import "./var.scss";
#header {
  position: relative;
  z-index: 3000;
  #header-aside {
    height: 60px;
    background-color: $fontColor;
    .header-info {
      line-height: 60px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: $white;
      li {
        font-size: $font12;
        .icon-youxiang {
          font-size: 18px;
          margin-right: 3px;
        }
        .icon-dianhua {
          font-size: 19px;
          margin-right: 3px;
        }
        i, a {
          vertical-align: middle;
          color: white;
        }
        a + a {
          margin-left: 10px;
        }
      }
      li + li {
        margin-left: 20px;
      }
    }

    .header-oper {
      .country-select {
        position: relative;
        z-index: 1100;
        &:hover {
          .countryList{
            display: block;
          }
        }
        .selectedCountry{
          height: 27px;
          width: 130px;
          background-color: white;
        }
        .countryList{
          position: absolute;
          left: 0;
          top: 100%;
          min-width: 100%;
          background: white;
          display: none;
        }
        p {
          padding: 2px;
          cursor: pointer;
          img{
            width: 34px;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }
      .search {
        background-color: white;
        width: 134px;
        height: 26px;
        position: relative;
        padding: 0 5px;
        margin-left: 10px;
        input {
          width: 100%;
          height: 100%;
          line-height: 26px;
          padding-right: 24px;
        }
        span{
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: $font16;
        }
      }
    }
  }

  #header-nav {
    padding: 22px 0;
    .logo{
      img{
        width: 291px;
      }
    }
    .nav-list{
      li {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        .nav-list-name{
          span {
            vertical-align: middle;
          }
          i.iconfont {
            font-size: 28px;
            margin-left: -6px;
            vertical-align: middle;
            margin-top: -4px;
            display: inline-block;
          }
        }
        &.active, &:hover{
          border-bottom-color:$hoverColor;
          .nav-list-name{
            border-bottom-color: $hoverColor;
            color: $hoverColor;
            // font-weight: bold;
          }
          .nav-list-item{
            display: block;
          }
        }
        .nav-list-item{
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0);
          padding-top: 6px;
          .nav-list-item-wrap {
            min-width: 160px;
            padding: 16px 11px 22px;
            background-color: #ffffff;
            box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.35);
            border-radius: 4px;
            p {  
              font-size: $font12;
              font-weight: normal;
              letter-spacing: 0px;
              color: $fontColor;
              &:hover{
                color: $hoverColor;
              }
            }
            p + p {
              margin-top: 24px;
            }
          }
        }
      }
      li + li {
        margin-left: 63px;
      }
    }
  }
}

.banner { 
  position: relative;
  .swiper-pagination{
    bottom: 20px!important;
    .swiper-pagination-bullet {
      width: 20px;
      height: 6px;
      background-color: #828282;
      transition: all .3s linear;
      border-radius: 0;
      &.swiper-pagination-bullet-active{
        width: 47px;
        height: 6px;
        background-color: #009944;
      }
    }
  }
  .center-main{
    position: absolute;
    top: 44px;
    left: 50%;
    z-index: 1099;
    transform: translate(-50%, 0)
  }
  .breadcrumbs{
    font-size: 13px;
    color: $fontColor;
    i.iconfont {
      margin-right: 6px;
    }
  }
}

.product-wrap{
  
}