@import './var.scss';
@import './header.scss';
@import './footer.scss';

.title {
  margin: 0 auto 73px;
  width: 750px;
  height: 1px;
  background-color: $hoverColor;
  position: relative;
  z-index: 1000;
	span { 
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal; 
    line-height: 25px; 
    letter-spacing: 2px;     
    color: $fontColor;
    background-color: white;
  }
}       
 
.feature{ 
  padding-top: 94px;
  .swiper-main{  
    position: relative;
    .feature-swiper{ 
      .swiper-wrapper{
        .swiper-slide {
          box-sizing: border-box;
          border: solid 1px #e5e5e5;
          .swiper-img{
            display: flex;  
            flex-direction: row; 
            justify-content: center;
            align-items: center;
            padding: 18px;
            img {
              max-width: 100%;  
            }
          }
          .swiper-desc{
            text-align: center;
            margin: 9px 0 30px;
          }
        }
      } 
    }     
    .swiper-button-prev, .swiper-button-next{
      &:focus{
        outline: none;
      }
      &:after{
        content: '';
      }
      i {
        color: $hoverColor;
        font-size: 32px;
      }
    }
    .swiper-button-prev {
      left: 0;
      transform: translateX(-50%);
    }
    .swiper-button-next {
      right: 0;
      transform: translateX(50%);
    }
  }
}
 
.quick-links{
  padding: 96px 0 80px;
  .title{
    width: 100%;
    background-color: #e6e6e6;
    margin-bottom: 60px;
  }
  .quick-links-part{
    text-align: center;
    font-size: 0;
    padding: 0 20px;
    a{
      font-size: $font14;
      line-height: 25px;
      color: $fontColor;
      margin: 0 27px;
    }
  }
} 

.news-part{
  padding-top: 74px;
  background-color: #f8f8f8;
  padding-bottom: 60px;
  .title{
    span{
      background-color: #f8f8f8;
    }
  }
  .new-item{
    width: 472/1485 * 100%;
    border: solid 1px #e5e5e5;
    padding: 20px;
    transition: all .2s linear;
    background-color:white;
    &:hover {
      box-shadow: 0 15px 30px rgba(0,0,0,.1);
    }
    .item-img {
      margin-bottom: 18px;
      img{
        max-width: 100%;
      }
    }  
    .item-desc{
      h3{
        line-height: 18px;
        color: $fontColor;
        margin-bottom: 8px;
        font-weight: normal;
        border-left: 2px solid $hoverColor;
        padding-left: 8px;
      }
      p {
        line-height: 20px;
        color: $fontColor;
        font-size: $font12;
        padding-left: 10px;
      }
    }
  }
} 

.about-us{
  padding-top: 94px;
  .about-us-main{
    display: flex;
    .about-us-img{
      img {
        max-width: 100%;
      }
    }
    .about-us-desc{
      width: 440px;
      margin-left: 56px;
      color: $fontColor;
      h3 {
        font-size: $font20;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 12px;
        margin-top: -3px;
      }         
      p { 
        font-size: $font12;
        line-height: 19px;
        text-align: justify;
        text-indent: $font12;
      }    
    }  
  }
}

.extra-links{
  border-top: 1px solid #e6e6e6;
  margin-top: 65px;
  padding: 30px 0 60px; 
  a { 
    line-height: 25px;
    color: $fontColor;    
    margin: 0 12px;
  }
}

@media screen and (max-width: 997px) {
  .title {
    margin: 0 auto 20px;
    width: 95%;
    span { 
      padding: 0 20px;
      font-size: 24px;
    }
  }
  .feature {
    padding-top: 36px;
    .swiper-main {
      .swiper-button-prev, .swiper-button-next {
        transform: none;
      }
    }
  }

  .quick-links {  
    padding-top: 42px;
    .title {
      margin-bottom: 26px;
    }
    .quick-links-part { 
      a {   
        width: 100%;
        text-align: center;
        display: block;
        line-height: 34px;
        font-size: 16px;
        margin-left: 0;
      }
    }
  } 
  
  .news-part{
    padding-top: 42px;
    background-color: #f8f8f8;
    padding-bottom: 24px;
    .new-main {
      flex-wrap: wrap;
      .new-item{
        width: 100%;
        .item-desc {
          p {
            font-size: $font14;
          }
        }
      }
      .new-item + .new-item {
        margin-top: 20px;
      }
    }
  }
 
  .about-us {
    display: none;
  }

  .extra-links{
    border-top: 0;
    margin-top: 0;
    padding: 40px 0; 
    a { 
      width: 100%;
      margin-left: 0;
      text-align: center;
      font-size: 16px;
      line-height: 32px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}