#header {
  position: relative;
  z-index: 3000;
}

#header #header-aside {
  height: 60px;
  background-color: #1a1a1a;
}

#header #header-aside .header-info {
  line-height: 60px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: white;
}

#header #header-aside .header-info li {
  font-size: 12px;
}

#header #header-aside .header-info li .icon-youxiang {
  font-size: 18px;
  margin-right: 3px;
}

#header #header-aside .header-info li .icon-dianhua {
  font-size: 19px;
  margin-right: 3px;
}

#header #header-aside .header-info li i, #header #header-aside .header-info li a {
  vertical-align: middle;
  color: white;
}

#header #header-aside .header-info li a + a {
  margin-left: 10px;
}

#header #header-aside .header-info li + li {
  margin-left: 20px;
}

#header #header-aside .header-oper .country-select {
  position: relative;
  z-index: 1100;
}

#header #header-aside .header-oper .country-select:hover .countryList {
  display: block;
}

#header #header-aside .header-oper .country-select .selectedCountry {
  height: 27px;
  width: 130px;
  background-color: white;
}

#header #header-aside .header-oper .country-select .countryList {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  background: white;
  display: none;
}

#header #header-aside .header-oper .country-select p {
  padding: 2px;
  cursor: pointer;
}

#header #header-aside .header-oper .country-select p img {
  width: 34px;
  vertical-align: middle;
  margin-right: 10px;
}

#header #header-aside .header-oper .search {
  background-color: white;
  width: 134px;
  height: 26px;
  position: relative;
  padding: 0 5px;
  margin-left: 10px;
}

#header #header-aside .header-oper .search input {
  width: 100%;
  height: 100%;
  line-height: 26px;
  padding-right: 24px;
}

#header #header-aside .header-oper .search span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

#header #header-nav {
  padding: 22px 0;
}

#header #header-nav .menu-btn {
  display: none;
}

#header #header-nav .logo img {
  width: 291px;
}

#header #header-nav .pcNav {
  display: flex !important;
}

#header #header-nav .mobildNav {
  display: none !important;
}

#header #header-nav .nav-list.pcNav li {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

#header #header-nav .nav-list.pcNav li .nav-list-name span {
  vertical-align: middle;
}

#header #header-nav .nav-list.pcNav li .nav-list-name i.iconfont {
  font-size: 28px;
  margin-left: -6px;
  vertical-align: middle;
  margin-top: -4px;
  display: inline-block;
}

#header #header-nav .nav-list.pcNav li.active, #header #header-nav .nav-list.pcNav li:hover {
  border-bottom-color: #009944;
}

#header #header-nav .nav-list.pcNav li.active .nav-list-name, #header #header-nav .nav-list.pcNav li:hover .nav-list-name {
  border-bottom-color: #009944;
  color: #009944;
}

#header #header-nav .nav-list.pcNav li.active .nav-list-item, #header #header-nav .nav-list.pcNav li:hover .nav-list-item {
  display: block;
}

#header #header-nav .nav-list.pcNav li .nav-list-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 6px;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap {
  min-width: 160px;
  padding: 16px 11px 22px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #1a1a1a;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p:hover {
  color: #009944;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p + p {
  margin-top: 24px;
}

#header #header-nav .nav-list.pcNav li + li {
  margin-left: 63px;
}

.banner {
  position: relative;
}

.banner .swiper-wrapper .swiper-slide .swiper-img img {
  max-width: 100%;
  width: 100%;
}

.banner .swiper-pagination {
  bottom: 20px !important;
}

.banner .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  background-color: #828282;
  transition: all .3s linear;
  border-radius: 0;
}

.banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 47px;
  height: 6px;
  background-color: #009944;
}

.banner .center-main {
  position: absolute;
  top: 44px;
  left: 50%;
  z-index: 1099;
  transform: translate(-50%, 0);
}

.banner .breadcrumbs {
  font-size: 13px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1220px) {
  #header #header-nav .nav-list.pcNav li + li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 997px) {
  #header #header-aside {
    height: auto;
    padding: 10px 0 12px;
  }
  #header #header-aside .center-main {
    flex-wrap: wrap;
  }
  #header #header-aside .header-info {
    line-height: 24px;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 11px;
  }
  #header #header-aside .header-info li {
    width: 100%;
  }
  #header #header-aside .header-info li + li {
    margin-left: 0;
  }
  #header #header-aside .header-oper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #header #header-aside .header-oper .country-select .selectedCountry {
    height: 27px;
    width: 130px;
    background-color: white;
  }
  #header #header-aside .header-oper .search {
    flex: 1;
  }
  #header #header-nav {
    height: 45px;
    justify-content: center;
    position: relative;
  }
  #header #header-nav .menu-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-5px, -50%);
    padding: 5px;
  }
  #header #header-nav .menu-btn span.iconfont {
    font-size: 26px;
  }
  #header #header-nav .logo img {
    width: 186px;
  }
  #header #header-nav .pcNav {
    display: none !important;
  }
  #header #header-nav .mobildNav {
    display: block !important;
  }
  #header #header-nav .nav-list.mobildNav {
    position: absolute;
    top: 100%;
    left: 0;
    flex-wrap: wrap;
    background-color: #efefef;
    padding: 0 12px;
    width: 100%;
    max-width: 66%;
  }
  #header #header-nav .nav-list.mobildNav li {
    width: 100%;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name {
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name i.icon-sanjiao {
    display: none;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name i.mobile-icon {
    font-size: 20px;
  }
  #header #header-nav .nav-list.mobildNav li.active, #header #header-nav .nav-list.mobildNav li:hover {
    color: auto;
    border-bottom: 0;
  }
  #header #header-nav .nav-list.mobildNav li.active .nav-list-item, #header #header-nav .nav-list.mobildNav li:hover .nav-list-item {
    display: block;
  }
  #header #header-nav .nav-list.mobildNav li.active {
    border: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item {
    display: none;
    position: static;
    transform: none;
    padding-top: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap {
    min-width: 100%;
    padding: 16px 30px 22px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #1a1a1a;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p:hover {
    color: #009944;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p + p {
    margin-top: 24px;
  }
  #header #header-nav .nav-list.mobildNav li + li {
    margin-left: 0;
    border-top: 1px solid #cccccc;
  }
  .banner .swiper-pagination {
    bottom: 20px !important;
  }
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    background-color: #828282;
    transition: all .3s linear;
    border-radius: 0;
  }
  .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    height: 4px;
    background-color: #009944;
  }
  .banner .center-main {
    top: 21px;
  }
  .banner .breadcrumbs {
    font-size: 14px;
  }
  .banner .breadcrumbs i.iconfont {
    margin-right: 6px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    position: relative;
  }
  .banner .swiper-wrapper .swiper-slide .swiper-img {
    min-height: 300px;
    position: relative;
  }
  .banner .swiper-wrapper .swiper-slide .swiper-img img {
    width: auto;
    max-width: inherit;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#footer {
  color: white;
  padding: 40px 0 46px;
  background-color: #121212;
}

#footer .spaceBetween {
  align-items: flex-start;
}

#footer a {
  color: white;
}

#footer dt {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 46px;
}

#footer dd {
  line-height: 24px;
}

#footer dd + dd {
  margin-top: 20px;
}

#footer .contact {
  width: 455px;
}

#footer .contact dd {
  padding-left: 28px;
  position: relative;
}

#footer .contact dd i.iconfont {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 18px;
}

#footer .contact dd i.icon-dizhi {
  font-size: 21px;
}

#footer .aboutUs dd, #footer .information dd {
  padding-left: 18px;
  position: relative;
}

#footer .aboutUs dd:before, #footer .information dd:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  content: ' ';
}

#footer .aboutUs dd i.icon-dizhi, #footer .information dd i.icon-dizhi {
  font-size: 21px;
}

#footer .links {
  width: 510px;
}

#footer .links dd {
  line-height: 1;
}

#footer .links dd a {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
}

#footer .links dd a i {
  font-size: 64px;
  background-color: white;
}

#footer .links dd a i.icon-tubiao-3 {
  color: #3b5998;
}

#footer .links dd a i.icon-tubiao- {
  color: #007ab9;
}

#footer .links dd a i.icon-tubiao-4 {
  color: #cd332d;
}

#footer .links dd a i.icon-tubiao-5 {
  color: #4099ff;
}

#footer .links dd a i.icon-tubiao-1 {
  color: #4ac9f1;
}

#footer .links dd a i.icon-tubiao-2 {
  color: #c5161b;
}

#footer .links dd a i.icon-tubiao-6 {
  color: #ff517c;
}

#footer .links dd a {
  margin-right: 10px;
  margin-bottom: 10px;
}

#footer .copyright {
  text-align: center;
  padding: 14px 0 12px;
  background-color: white;
}

#footer .copyright p {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 20px;
  color: #666666;
}

@media screen and (max-width: 1600px) {
  #footer .links {
    width: 320px;
  }
  #footer .links dd {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1220px) {
  #footer .center-main {
    flex-wrap: wrap;
  }
  #footer .center-main .links {
    width: 100%;
  }
  #footer .contact, #footer .aboutUs, #footer .information, #footer .links {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 997px) {
  #footer {
    padding: 20px 0 0;
  }
  #footer .contact, #footer .aboutUs, #footer .information, #footer .links {
    width: 100%;
  }
  #footer .contact dt, #footer .aboutUs dt, #footer .information dt, #footer .links dt {
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
  }
  #footer .aboutUs, #footer .information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  #footer .aboutUs dd, #footer .information dd {
    width: 33%;
  }
  #footer .aboutUs dd + dd, #footer .information dd + dd {
    margin-top: 0;
  }
  #footer .links dd a i {
    font-size: 48px;
  }
}

.title {
  margin: 0 auto 73px;
  width: 750px;
  height: 1px;
  background-color: #009944;
  position: relative;
  z-index: 1000;
}

.title span {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: 2px;
  color: #1a1a1a;
  background-color: white;
}

.feature {
  padding-top: 94px;
}

.feature .swiper-main {
  position: relative;
}

.feature .swiper-main .feature-swiper .swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  border: solid 1px #e5e5e5;
}

.feature .swiper-main .feature-swiper .swiper-wrapper .swiper-slide .swiper-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.feature .swiper-main .feature-swiper .swiper-wrapper .swiper-slide .swiper-img img {
  max-width: 100%;
}

.feature .swiper-main .feature-swiper .swiper-wrapper .swiper-slide .swiper-desc {
  text-align: center;
  margin: 9px 0 30px;
}

.feature .swiper-main .swiper-button-prev:focus, .feature .swiper-main .swiper-button-next:focus {
  outline: none;
}

.feature .swiper-main .swiper-button-prev:after, .feature .swiper-main .swiper-button-next:after {
  content: '';
}

.feature .swiper-main .swiper-button-prev i, .feature .swiper-main .swiper-button-next i {
  color: #009944;
  font-size: 32px;
}

.feature .swiper-main .swiper-button-prev {
  left: 0;
  transform: translateX(-50%);
}

.feature .swiper-main .swiper-button-next {
  right: 0;
  transform: translateX(50%);
}

.quick-links {
  padding: 96px 0 80px;
}

.quick-links .title {
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 60px;
}

.quick-links .quick-links-part {
  text-align: center;
  font-size: 0;
  padding: 0 20px;
}

.quick-links .quick-links-part a {
  font-size: 14px;
  line-height: 25px;
  color: #1a1a1a;
  margin: 0 27px;
}

.news-part {
  padding-top: 74px;
  background-color: #f8f8f8;
  padding-bottom: 60px;
}

.news-part .title span {
  background-color: #f8f8f8;
}

.news-part .new-item {
  width: 31.78451%;
  border: solid 1px #e5e5e5;
  padding: 20px;
  transition: all .2s linear;
  background-color: white;
}

.news-part .new-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.news-part .new-item .item-img {
  margin-bottom: 18px;
}

.news-part .new-item .item-img img {
  max-width: 100%;
}

.news-part .new-item .item-desc h3 {
  line-height: 18px;
  color: #1a1a1a;
  margin-bottom: 8px;
  font-weight: normal;
  border-left: 2px solid #009944;
  padding-left: 8px;
}

.news-part .new-item .item-desc p {
  line-height: 20px;
  color: #1a1a1a;
  font-size: 12px;
  padding-left: 10px;
}

.about-us {
  padding-top: 94px;
}

.about-us .about-us-main {
  display: flex;
}

.about-us .about-us-main .about-us-img img {
  max-width: 100%;
}

.about-us .about-us-main .about-us-desc {
  width: 440px;
  margin-left: 56px;
  color: #1a1a1a;
}

.about-us .about-us-main .about-us-desc h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 12px;
  margin-top: -3px;
}

.about-us .about-us-main .about-us-desc p {
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  text-indent: 12px;
}

.extra-links {
  border-top: 1px solid #e6e6e6;
  margin-top: 65px;
  padding: 30px 0 60px;
}

.extra-links a {
  line-height: 25px;
  color: #1a1a1a;
  margin: 0 12px;
}

@media screen and (max-width: 997px) {
  .title {
    margin: 0 auto 20px;
    width: 95%;
  }
  .title span {
    padding: 0 20px;
    font-size: 24px;
  }
  .feature {
    padding-top: 36px;
  }
  .feature .swiper-main .swiper-button-prev, .feature .swiper-main .swiper-button-next {
    transform: none;
  }
  .quick-links {
    padding-top: 42px;
  }
  .quick-links .title {
    margin-bottom: 26px;
  }
  .quick-links .quick-links-part a {
    width: 100%;
    text-align: center;
    display: block;
    line-height: 34px;
    font-size: 16px;
    margin-left: 0;
  }
  .news-part {
    padding-top: 42px;
    background-color: #f8f8f8;
    padding-bottom: 24px;
  }
  .news-part .new-main {
    flex-wrap: wrap;
  }
  .news-part .new-main .new-item {
    width: 100%;
  }
  .news-part .new-main .new-item + .new-item {
    margin-top: 20px;
  }
  .about-us {
    display: none;
  }
  .extra-links {
    border-top: 0;
    margin-top: 0;
    padding: 40px 0;
  }
  .extra-links a {
    width: 100%;
    margin-left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
