#header {
  position: relative;
  z-index: 3000;
}

#header #header-aside {
  height: 60px;
  background-color: #1a1a1a;
}

#header #header-aside .header-info {
  line-height: 60px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: white;
}

#header #header-aside .header-info li {
  font-size: 12px;
}

#header #header-aside .header-info li .icon-youxiang {
  font-size: 18px;
  margin-right: 3px;
}

#header #header-aside .header-info li .icon-dianhua {
  font-size: 19px;
  margin-right: 3px;
}

#header #header-aside .header-info li i, #header #header-aside .header-info li a {
  vertical-align: middle;
  color: white;
}

#header #header-aside .header-info li a + a {
  margin-left: 10px;
}

#header #header-aside .header-info li + li {
  margin-left: 20px;
}

#header #header-aside .header-oper .country-select {
  position: relative;
  z-index: 1100;
}

#header #header-aside .header-oper .country-select:hover .countryList {
  display: block;
}

#header #header-aside .header-oper .country-select .selectedCountry {
  height: 27px;
  width: 130px;
  background-color: white;
}

#header #header-aside .header-oper .country-select .countryList {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  background: white;
  display: none;
}

#header #header-aside .header-oper .country-select p {
  padding: 2px;
  cursor: pointer;
}

#header #header-aside .header-oper .country-select p img {
  width: 34px;
  vertical-align: middle;
  margin-right: 10px;
}

#header #header-aside .header-oper .search {
  background-color: white;
  width: 134px;
  height: 26px;
  position: relative;
  padding: 0 5px;
  margin-left: 10px;
}

#header #header-aside .header-oper .search input {
  width: 100%;
  height: 100%;
  line-height: 26px;
  padding-right: 24px;
}

#header #header-aside .header-oper .search span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

#header #header-nav {
  padding: 22px 0;
}

#header #header-nav .menu-btn {
  display: none;
}

#header #header-nav .logo img {
  width: 291px;
}

#header #header-nav .pcNav {
  display: flex !important;
}

#header #header-nav .mobildNav {
  display: none !important;
}

#header #header-nav .nav-list.pcNav li {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

#header #header-nav .nav-list.pcNav li .nav-list-name span {
  vertical-align: middle;
}

#header #header-nav .nav-list.pcNav li .nav-list-name i.iconfont {
  font-size: 28px;
  margin-left: -6px;
  vertical-align: middle;
  margin-top: -4px;
  display: inline-block;
}

#header #header-nav .nav-list.pcNav li.active, #header #header-nav .nav-list.pcNav li:hover {
  border-bottom-color: #009944;
}

#header #header-nav .nav-list.pcNav li.active .nav-list-name, #header #header-nav .nav-list.pcNav li:hover .nav-list-name {
  border-bottom-color: #009944;
  color: #009944;
}

#header #header-nav .nav-list.pcNav li.active .nav-list-item, #header #header-nav .nav-list.pcNav li:hover .nav-list-item {
  display: block;
}

#header #header-nav .nav-list.pcNav li .nav-list-item {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 6px;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap {
  min-width: 160px;
  padding: 16px 11px 22px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #1a1a1a;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p:hover {
  color: #009944;
}

#header #header-nav .nav-list.pcNav li .nav-list-item .nav-list-item-wrap p + p {
  margin-top: 24px;
}

#header #header-nav .nav-list.pcNav li + li {
  margin-left: 63px;
}

.banner {
  position: relative;
}

.banner .swiper-wrapper .swiper-slide .swiper-img img {
  max-width: 100%;
  width: 100%;
}

.banner .swiper-pagination {
  bottom: 20px !important;
}

.banner .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  background-color: #828282;
  transition: all .3s linear;
  border-radius: 0;
}

.banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 47px;
  height: 6px;
  background-color: #009944;
}

.banner .center-main {
  position: absolute;
  top: 44px;
  left: 50%;
  z-index: 1099;
  transform: translate(-50%, 0);
}

.banner .breadcrumbs {
  font-size: 13px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1220px) {
  #header #header-nav .nav-list.pcNav li + li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 997px) {
  #header #header-aside {
    height: auto;
    padding: 10px 0 12px;
  }
  #header #header-aside .center-main {
    flex-wrap: wrap;
  }
  #header #header-aside .header-info {
    line-height: 24px;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 11px;
  }
  #header #header-aside .header-info li {
    width: 100%;
  }
  #header #header-aside .header-info li + li {
    margin-left: 0;
  }
  #header #header-aside .header-oper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  #header #header-aside .header-oper .country-select .selectedCountry {
    height: 27px;
    width: 130px;
    background-color: white;
  }
  #header #header-aside .header-oper .search {
    flex: 1;
  }
  #header #header-nav {
    height: 45px;
    justify-content: center;
    position: relative;
  }
  #header #header-nav .menu-btn {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-5px, -50%);
    padding: 5px;
  }
  #header #header-nav .menu-btn span.iconfont {
    font-size: 26px;
  }
  #header #header-nav .logo img {
    width: 186px;
  }
  #header #header-nav .pcNav {
    display: none !important;
  }
  #header #header-nav .mobildNav {
    display: block !important;
  }
  #header #header-nav .nav-list.mobildNav {
    position: absolute;
    top: 100%;
    left: 0;
    flex-wrap: wrap;
    background-color: #efefef;
    padding: 0 12px;
    width: 100%;
    max-width: 66%;
  }
  #header #header-nav .nav-list.mobildNav li {
    width: 100%;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name {
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name i.icon-sanjiao {
    display: none;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-name i.mobile-icon {
    font-size: 20px;
  }
  #header #header-nav .nav-list.mobildNav li.active, #header #header-nav .nav-list.mobildNav li:hover {
    color: auto;
    border-bottom: 0;
  }
  #header #header-nav .nav-list.mobildNav li.active .nav-list-item, #header #header-nav .nav-list.mobildNav li:hover .nav-list-item {
    display: block;
  }
  #header #header-nav .nav-list.mobildNav li.active {
    border: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item {
    display: none;
    position: static;
    transform: none;
    padding-top: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap {
    min-width: 100%;
    padding: 16px 30px 22px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #1a1a1a;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p:hover {
    color: #009944;
  }
  #header #header-nav .nav-list.mobildNav li .nav-list-item .nav-list-item-wrap p + p {
    margin-top: 24px;
  }
  #header #header-nav .nav-list.mobildNav li + li {
    margin-left: 0;
    border-top: 1px solid #cccccc;
  }
  .banner .swiper-pagination {
    bottom: 20px !important;
  }
  .banner .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    background-color: #828282;
    transition: all .3s linear;
    border-radius: 0;
  }
  .banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    height: 4px;
    background-color: #009944;
  }
  .banner .center-main {
    top: 21px;
  }
  .banner .breadcrumbs {
    font-size: 14px;
  }
  .banner .breadcrumbs i.iconfont {
    margin-right: 6px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    position: relative;
  }
  .banner .swiper-wrapper .swiper-slide .swiper-img {
    min-height: 300px;
    position: relative;
  }
  .banner .swiper-wrapper .swiper-slide .swiper-img img {
    width: auto;
    max-width: inherit;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#footer {
  color: white;
  padding: 40px 0 46px;
  background-color: #121212;
}

#footer .spaceBetween {
  align-items: flex-start;
}

#footer a {
  color: white;
}

#footer dt {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 46px;
}

#footer dd {
  line-height: 24px;
}

#footer dd + dd {
  margin-top: 20px;
}

#footer .contact {
  width: 455px;
}

#footer .contact dd {
  padding-left: 28px;
  position: relative;
}

#footer .contact dd i.iconfont {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 18px;
}

#footer .contact dd i.icon-dizhi {
  font-size: 21px;
}

#footer .aboutUs dd, #footer .information dd {
  padding-left: 18px;
  position: relative;
}

#footer .aboutUs dd:before, #footer .information dd:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  content: ' ';
}

#footer .aboutUs dd i.icon-dizhi, #footer .information dd i.icon-dizhi {
  font-size: 21px;
}

#footer .links {
  width: 510px;
}

#footer .links dd {
  line-height: 1;
}

#footer .links dd a {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
}

#footer .links dd a i {
  font-size: 64px;
  background-color: white;
}

#footer .links dd a i.icon-tubiao-3 {
  color: #3b5998;
}

#footer .links dd a i.icon-tubiao- {
  color: #007ab9;
}

#footer .links dd a i.icon-tubiao-4 {
  color: #cd332d;
}

#footer .links dd a i.icon-tubiao-5 {
  color: #4099ff;
}

#footer .links dd a i.icon-tubiao-1 {
  color: #4ac9f1;
}

#footer .links dd a i.icon-tubiao-2 {
  color: #c5161b;
}

#footer .links dd a i.icon-tubiao-6 {
  color: #ff517c;
}

#footer .links dd a {
  margin-right: 10px;
  margin-bottom: 10px;
}

#footer .copyright {
  text-align: center;
  padding: 14px 0 12px;
  background-color: white;
}

#footer .copyright p {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 20px;
  color: #666666;
}

@media screen and (max-width: 1600px) {
  #footer .links {
    width: 320px;
  }
  #footer .links dd {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1220px) {
  #footer .center-main {
    flex-wrap: wrap;
  }
  #footer .center-main .links {
    width: 100%;
  }
  #footer .contact, #footer .aboutUs, #footer .information, #footer .links {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 997px) {
  #footer {
    padding: 20px 0 0;
  }
  #footer .contact, #footer .aboutUs, #footer .information, #footer .links {
    width: 100%;
  }
  #footer .contact dt, #footer .aboutUs dt, #footer .information dt, #footer .links dt {
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
  }
  #footer .aboutUs, #footer .information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  #footer .aboutUs dd, #footer .information dd {
    width: 33%;
  }
  #footer .aboutUs dd + dd, #footer .information dd + dd {
    margin-top: 0;
  }
  #footer .links dd a i {
    font-size: 48px;
  }
}

.email-btn {
  background-color: #009944;
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.detail-btn {
  background-color: #eef0f1;
  color: #1a1a1a;
  width: 80px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.pagination .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #121212;
}

.pagination .el-pagination.is-background .el-pager li:not(.disabled) {
  background-color: #f0eeeb;
}

.pagination .totalTip {
  height: 28px;
  line-height: 28px;
  background-color: #f0eeeb;
  padding: 0 6px;
}

.product-wrap {
  padding-top: 60px;
  padding-bottom: 214px;
  align-items: flex-start;
}

.product-wrap .product-wrap-nav {
  width: 354px;
}

.product-wrap .product-wrap-nav .products-items {
  padding: 0 22px 20px;
  border: solid 1px #e5e5e5;
  clear: both;
}

.product-wrap .product-wrap-nav .products-items .title {
  font-size: 18px;
  line-height: 25px;
  color: #1a1a1a;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #e6e6e6;
}

.product-wrap .product-wrap-nav .products-items .product-item li {
  border-bottom: 1px solid #e6e6e6;
}

.product-wrap .product-wrap-nav .products-items .product-item li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product-wrap .product-wrap-nav .products-items .product-item li.active a {
  background-color: #f7f5f5;
}

.product-wrap .product-wrap-nav .products-items + .products-items {
  margin-top: 40px;
}

.product-wrap .product-wrap-nav .products-sort .products-sort-items li {
  height: 40px;
  line-height: 40px;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items li {
  padding: 10px 0;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items .product-img {
  width: 140px;
  height: 140px;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items .product-img img {
  width: 100%;
  height: 100%;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items .product-info {
  flex: 1;
  margin-left: 14px;
  display: block;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items .product-info p {
  font-size: 14px;
  color: #1a1a1a;
  margin-bottom: 14px;
}

.product-wrap .product-wrap-nav .product-featured .product-featured-items .product-info .jy-btn {
  text-align: center;
  width: 66px;
  height: 30px;
  line-height: 30px;
  background-color: #009944;
  color: white;
}

.product-wrap .product-wrap-nav .contact-detail {
  padding-bottom: 0;
}

.product-wrap .product-wrap-nav .contact-detail .contact-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-wrap .product-wrap-nav .contact-detail .contact-item .contact-item-li {
  align-items: flex-start;
  padding: 10px 0;
}

.product-wrap .product-wrap-nav .contact-detail .contact-item .contact-item-li .contact-img {
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  color: #009944;
}

.product-wrap .product-wrap-nav .contact-detail .contact-item .contact-item-li .contact-info {
  font-size: 14px;
  line-height: 24px;
  margin-left: 6px;
}

.product-wrap .product-wrap-content {
  margin-left: 40px;
  flex: 1;
}

.product-wrap .product-wrap-content .title {
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  background-color: #f1f1f1;
  padding: 0 20px;
  margin-bottom: 20px;
}

.product-wrap .product-wrap-content .mail-consultation-cont p {
  font-size: 16px;
  margin: 0 0 16px;
}

.product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-text, .product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-textarea {
  display: block;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
  padding: 0 18px;
  width: 100%;
}

.product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-text {
  height: 46px;
  line-height: 1;
}

.product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-text::placeholder {
  font-size: 14px;
}

.product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-textarea {
  line-height: 24px;
  font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
}

.product-wrap .product-wrap-content .mail-consultation-cont .mail-consultation-form .form-wrap .input-btn {
  text-align: center;
  font-size: 16px;
  width: 100px;
  height: 46px;
  line-height: 46px;
  background-color: #009944;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 997px) {
  .product-wrap {
    padding-top: 40px;
    display: block;
  }
  .product-wrap .product-wrap-nav {
    display: none;
  }
  .product-wrap .product-wrap-content {
    margin-left: 0;
  }
}

.hotTag, .newTag {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 42px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.hotTag {
  background-color: #cc3300;
}

.newTag {
  background-color: #009944;
}

.product-list .product-list-wrap .product-list-item {
  padding: 28px 0;
  border: solid 1px #e5e5e5;
  margin-bottom: 32px;
  position: relative;
}

.product-list .product-list-wrap .product-list-item .product-img {
  width: 328px;
  padding: 0 14px;
  text-align: center;
}

.product-list .product-list-wrap .product-list-item .product-img img {
  max-width: 100%;
}

.product-list .product-list-wrap .product-list-item .product-info {
  flex: 1;
}

.product-list .product-list-wrap .product-list-item .product-info h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 16px;
}

.product-list .product-list-wrap .product-list-item .product-info .product-params p {
  font-size: 14px;
  line-height: 24px;
}

.product-list .product-list-wrap .product-list-item .product-info .product-tags {
  padding: 7px 0 16px;
}

.product-list .product-list-wrap .product-list-item .product-info .product-tags .tags-item {
  display: inline-block;
  padding: 0 26px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #eef0f1;
  margin-right: 16px;
  margin-bottom: 5px;
}

.product-list .product-list-wrap .product-list-item .product-info .product-link a + a {
  margin-left: 16px;
}

.product-detail .product-detail-wrap .product-detail-item {
  margin-bottom: 32px;
  position: relative;
  align-items: flex-start;
}

.product-detail .product-detail-wrap .product-detail-item .product-img {
  padding-right: 50px;
  width: 500px;
}

.product-detail .product-detail-wrap .product-detail-item .product-img img {
  max-width: 100%;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-big {
  width: 100%;
  height: 450px;
  border: solid 1px #e5e5e5;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small {
  width: 100%;
  margin-top: 10px;
  padding: 0 30px;
  position: relative;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-slide {
  border: solid 1px #e5e5e5;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-slide.swiper-slide-thumb-active {
  border-color: #009944;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-prev, .product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-next {
  background-color: #fafafa;
  height: 100%;
  top: 0;
  transform: translate(0, 0);
  margin-top: 0;
  color: #666666;
  opacity: 1;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-prev:after, .product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-next:after {
  content: '';
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-prev {
  left: 0;
}

.product-detail .product-detail-wrap .product-detail-item .product-img .product-img-small .swiper-button-next {
  right: 0;
}

.product-detail .product-detail-wrap .product-detail-item .product-info {
  flex: 1;
}

.product-detail .product-detail-wrap .product-detail-item .product-info h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 16px;
}

.product-detail .product-detail-wrap .product-detail-item .product-info .product-params p {
  font-size: 14px;
  line-height: 24px;
}

.product-detail .product-detail-wrap .product-detail-item .product-info .product-link {
  margin-top: 30px;
}

.product-detail .product-detail-wrap .product-detail-item .product-info .product-link a + a {
  margin-left: 16px;
}

.product-detail .product-detail-wrap .product-package {
  width: 100%;
  padding-bottom: 30px;
}

.product-detail .product-detail-wrap .product-package h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 16px;
}

.product-detail .product-detail-wrap .product-package .product-package-desc p {
  font-size: 14px;
  line-height: 24px;
}

.product-detail .product-detail-wrap .product-package .product-package-desc img {
  max-width: 100%;
}

.factory-wrap .factory-info p {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.factory-wrap .factory-info p + p {
  margin-top: 20px;
}

.factory-wrap .factory-info img {
  margin-top: 20px;
  max-width: 100%;
}

.about-wrap .about-info p {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}

.about-wrap .about-info p + p {
  margin-top: 20px;
}

.about-wrap .about-info img {
  max-width: 100%;
  margin-bottom: 20px;
}

.contact-wrap table {
  border-color: #e5e5e5;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.contact-wrap table td:nth-child(1) {
  padding: 17px 10px;
  width: 27.62431%;
}

.news-wrap .news-sort .title .readMore {
  font-size: 14px;
}

.news-wrap .news-sort .news-list {
  padding-bottom: 25px;
}

.news-wrap .news-sort .news-list .news-list-item {
  line-height: 26px;
}

.news-wrap .news-sort .news-list .news-list-item .news-summary {
  flex: 1;
  padding: 0 20px;
  text-overflow: ellipsis;
}

.news-wrap .news-sort .news-list .news-list-item .news-summary a {
  font-size: 16px;
  display: block;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-wrap .news-sort .news-list .news-list-item .news-summary span {
  font-size: 12px;
  display: inline-block;
  margin-top: 8px;
  line-height: 18px;
}

.news-wrap .news-sort .news-list .news-list-item .news-time {
  display: block;
  width: 110px;
  text-align: center;
  color: #009944;
}

.news-wrap .news-sort .news-list .news-list-item + .news-list-item {
  margin-top: 20px;
}

.news-detail-wrap .news-detail-main {
  padding-bottom: 20px;
}

.news-detail-wrap .news-detail-main .news-detail-info p {
  margin: 12px 0;
  line-height: 24px;
  text-align: justify;
}

.news-detail-wrap .news-detail-main .news-detail-info img {
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
}

.product-sort-wrap .sort-suptitle {
  background-color: #e5e5e5;
  padding: 19px;
}

.product-sort-wrap .sort-suptitle h2 {
  font-size: 20px;
  font-weight: normal;
}

.product-sort-wrap .sort-suptitle p {
  margin-top: 10px;
}

.product-sort-wrap .product-sort-items .sort-item .sort-item-title {
  border-top: 1px solid #e6e6e6;
  position: relative;
  margin: 32px 0;
}

.product-sort-wrap .product-sort-items .sort-item .sort-item-title .sort-name {
  font-size: 20px;
  padding-right: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}

.product-sort-wrap .product-sort-items .sort-item .sort-item-title .sort-more {
  padding-left: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
}

.product-sort-wrap .product-sort-items .sort-item .sort-item-title .sort-more span {
  background-color: #f9f9f9;
  display: inline-block;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.product-sort-wrap .product-sort-items .sort-item .sort-list {
  flex-wrap: wrap;
}

.product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product {
  display: block;
  position: relative;
  width: 31.30755%;
  border: solid 1px #e5e5e5;
  padding: 12px 14px;
  margin-bottom: 33px;
}

.product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product .sort-product-img {
  margin-bottom: 28px;
}

.product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product .sort-product-img img {
  max-width: 100%;
}

.product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product .sort-product-name {
  font-size: 16px;
  text-align: center;
}

.product-sort-wrap .product-sort-items .sort-item .pagination {
  border: solid 1px #e5e5e5;
  padding: 18px 30px;
  margin: -34px 0 30px;
}

@media screen and (max-width: 997px) {
  .news-wrap .news-sort .news-list {
    padding-bottom: 15px;
  }
  .news-wrap .news-sort .news-list .news-list-item .news-summary span {
    display: none;
  }
  .news-wrap .news-sort .news-list .news-list-item + .news-list-item {
    margin-top: 16px;
  }
  .product-detail .product-detail-wrap {
    width: 100%;
  }
  .product-detail .product-detail-wrap .product-detail-item {
    display: block;
    width: 100%;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-img {
    padding-right: 0;
    width: 100%;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-img img {
    max-width: 100%;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-img .product-img-big {
    height: 450px;
    border: solid 1px #e5e5e5;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-info {
    padding-top: 32px;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-info .product-params p {
    font-size: 14px;
    line-height: 24px;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-info .product-link {
    margin-top: 30px;
  }
  .product-detail .product-detail-wrap .product-detail-item .product-info .product-link a + a {
    margin-left: 16px;
  }
  .product-detail .product-detail-wrap .product-package {
    width: 100%;
  }
  .product-list .product-list-wrap .product-list-item {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .product-list .product-list-wrap .product-list-item .product-img {
    width: 100%;
  }
  .product-list .product-list-wrap .product-list-item .product-img img {
    max-width: 100%;
  }
  .product-list .product-list-wrap .product-list-item .product-info {
    flex: 1;
    padding: 12px;
  }
  .product-list .product-list-wrap .product-list-item .product-info h2 {
    text-align: center;
    margin-bottom: 32px;
  }
  .product-list .product-list-wrap .product-list-item .product-info .product-tags {
    padding: 7px 0 16px;
  }
  .product-list .product-list-wrap .product-list-item .product-info .product-tags .tags-item {
    display: inline-block;
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    margin-right: 16px;
    margin-bottom: 5px;
  }
  .product-list .product-list-wrap .product-list-item .product-info .product-link a + a {
    margin-left: 16px;
  }
  .product-sort-wrap .sort-suptitle {
    padding: 12px;
  }
  .product-sort-wrap .sort-suptitle h2 {
    text-align: center;
  }
  .product-sort-wrap .sort-suptitle p {
    font-size: 15px;
    line-height: 28px;
  }
  .product-sort-wrap .product-sort-items .sort-item .sort-list {
    flex-wrap: wrap;
  }
  .product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product {
    display: block;
    position: relative;
    width: 48.35165%;
    padding: 12px;
    margin-bottom: 12px;
  }
  .product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product .sort-product-img {
    margin-bottom: 10px;
  }
  .product-sort-wrap .product-sort-items .sort-item .sort-list .sort-product .sort-product-name {
    font-size: 16px;
    text-align: center;
  }
  .product-sort-wrap .product-sort-items .sort-item .pagination {
    border: 0;
    padding: 12px 0;
    margin: -13px 0 30px;
    flex-wrap: wrap;
  }
  .product-sort-wrap .product-sort-items .sort-item .pagination .el-pagination {
    padding-left: 0;
  }
  .product-sort-wrap .product-sort-items .sort-item .pagination .totalTip {
    display: none;
  }
}
