* {
  -webkit-overflow-scrolling: touch;
}

body, div, h1, h2, h3, h4, h5, ul, li, p, span, dl, dt, dd, p {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-display: swap;
}

input, input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}

input ::placeholder {
  font-size: 12px;
  color: #393939;
}

input:-webkit-autofill {
  background-color: #ff0000;
  background-image: none;
  color: #000;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
}

a:focus, a:visited, a:link {
  outline: none;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

select {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  line-height: 1;
  color: #1a1a1a;
  background-color: white;
  line-height: 1;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
}

.bot {
  float: none !important;
  clear: both !important;
  position: relative !important;
  *zoom: 1 !important;
}

.toCenter {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.center-main {
  width: 1485px;
  margin-left: auto;
  margin-right: auto;
}

.thrLine {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.twoLine {
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.oneLine {
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spaceCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spaceStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.spaceEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.spaceAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
